<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home – Abrovinsch</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <script src="/static/js/quiz.js"></script>
    <div class="main">
        <h1> Quiz </h1>
        <hr>
        <a href="/">Go back home</a>
        <hr>
        <button onclick="NewQuiz('Marin')">New quiz</button>
        <span id="score-keeping"></span>

        <h3 id="question"></h3>
        <div id="quiz-main">
        </div>
        <span id="questionsAnswered">0</span> / <span id="questionsInQuiz">0</span>
        <b>Score:</b>
        <span id="score">0</span>
    </div>
</body>

</html>